<div class="container">
    <h2 class="header">My Courses</h2>
    <div class="line">
      <div style="width: 20px; height: 5px; border-radius: 10px; background-color: #1B99D4;"></div>
      <div style="width: 5px; height: 5px; border-radius: 50%; background-color: #1B99D4;"></div>
      <div style="width: 5px; height: 5px; border-radius: 50%; background-color: #1B99D4;"></div>
      <div style="width: 5px; height: 5px; border-radius: 50%; background-color: #1B99D4;"></div>
    </div>
    <ul class="list">
      <li *ngFor="let course of courses">
        <div style="display: flex; align-items: center;">
          <div style="width: 20px; height: 5px; border-radius: 10px; background-color: #1B99D4;"></div>
          <a [routerLink]="['/student-dashboard/course', course.courseId]">
            {{ course.courseTitle }}  <!-- Replace 'name' with the actual course property -->
          </a>
        </div>
        <div style="font-size: 30px;">></div>
      </li>
    </ul>
</div>