<nav *ngIf="userRole === 'student' || userRole === 'instructor' || userRole==='admin'">
  <div class="nav">
    <h2 class="nav-header"><a [routerLink]="navHeaderClick()" style="color: black; text-decoration: none;">My_Tutor</a></h2>
    <ul [ngClass]="userRole === 'instructor' ? 'navbar-instructor' : 'navbar-nav'">
      <li class="nav-item" *ngIf="userRole === 'student'">
        <a class="nav-link" routerLink="/student-dashboard/courses" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: false }">Courses</a>
      </li>
      
      <li class="nav-item" *ngIf="userRole === 'student'">
        <a class="nav-link" routerLink="/student-dashboard/progress" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: false }">Progress</a>
      </li>
      <li class="nav-item" *ngIf="userRole === 'admin'">
        <a class="nav-link" routerLink="/admin-dashboard/users" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: false }">Users</a>
      </li>
      <li class="nav-item" *ngIf="userRole === 'admin'">
        <a class="nav-link" routerLink="/admin-dashboard/courses" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: false }">Courses</a>
      </li>
      <li class="nav-item" *ngIf="userRole === 'admin'">
        <a class="nav-link" routerLink="/admin-dashboard/enrollment" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: false }">Enrollment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>